<%-include('./partials/header')%>

<h2>Enter password</h2>
<form 
action="/forget-password/<%=id%>" 
method="post"
class="container mt-5 text-centre p-5 w-50"
>

<input 
type="password" 
name="password" 
placeholder="******"
class="form-control m-auto w-75 p-2 mb-4"
>

<button class="btn btn-success" >Change password</button>
<br>
<a class="btn btn-success mb-3" href="/">Home</a>
</form>

<%-include('./partials/footer')%>

