<%- include('./partials/header')%>
  <div class="container mt-5 text-center bg-light p-5">
    <h1 class="fw-lighter mb-5">Admin page</h1>
  
   <a href="/signup" class="btn btn-success">create User</a>
 
     
  
  </div>
<%- include('./partials/footer')%>